*.pkl
*.pth
*.log
*.xlsx
*.mat
aagproj/
__pycache__/
*.pyc
.env
.DS_Store
custom_sound_variation/
train_data/
test_data/
saved_models/
data_gen_log.txt
training_log.txt
extra_codes.py
main.ipynb
nohup.out
process.py
pipeline_mod.py
midterm_sounds/